.contenido {
    --background: #fff url('https://wallpaperaccess.com/full/216978.jpg') no-repeat center center / cover;
}

.header {
    --background: rgb(0, 179, 185);
}

.bg-transparent {
    background: rgba(255, 255, 255, 0.7);
}
