.contenido {
    margin-top: 5px;
    --background: #fff url('https://www.batleydiy.co.uk/ekmps/shops/296292/resources/products/fd42554.jpg') no-repeat center center / cover;
    --color: black;
}

.header {
    --background: rgb(0, 179, 185);
}

.bg-transparent {
    background: rgba(255, 255, 255, 0.7);
}
